.donate {
    width: 180px;
    height: 50px;
    outline: none;
    background-color: var(--color-medorange);
    color: var(--color-white);
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    margin: 20px;
    border: none;
}

.donate:hover {
    background-color: var(--color-orange);
    outline: none;
    cursor: pointer;
}

.registerp {

    border-radius: 15px;
    border: solid 6px var(--color-medBlue);
    padding: 15px 70px;
    background-color: transparent;
    font-size: 28px;
    color: var(--color-medBlue);
    margin: 10px;

}

.registerv {

    border-radius: 15px;
    border: solid 6px var(--color-medBlue);
    padding: 15px 70px;
    background-color: transparent;
    font-size: 25px;
    color: var(--color-medBlue);
    margin: 10px;
}

.registerv:hover {
    background-color: var(--color-medBlue);
    cursor: pointer;
    color: var(--color-white);
    transition: 0.5s ease;
    outline: none;


}

.registerp:hover {
    background-color: var(--color-medBlue);
    cursor: pointer;
    color: var(--color-white);
    transition: 0.5s ease;
    outline: none;

}