.symptoms {
  color: var(--color-medBlue);
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  margin-top: 10vh;
}

.symimg {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subsymp {
  color: var(--color-medBlue);
  font-size: 1.6rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  margin-top: 4vh;
}

.mailbox {
  border: solid 6px var(--color-lightestblue);
  background-color: var(--color-medBlue);
  border-radius: 10px;
  margin: 10% 20%;
  align-self: center;
  padding: 50px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.mailplace {
  background-color: transparent;
  border: none;
  color: var(--color-lightBlue);
  outline: none;
  width: 40vw;
  border-bottom: 4px solid var(--color-lightestblue);
  border-radius: 1px;
  padding: 10px;
  font-size: 25px;
}

.send {
  color: var(--color-medorange);
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
}

.send>.MuiSvgIcon-root {
  font-size: 45px;
  cursor: pointer;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 3rem;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 3rem;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 3rem;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 3rem;
}
.send>.MuiSvgIcon-root{
  font-size: 4rem;
}
@media screen and (max-width:900px) {
    .symptoms{
        font-size: 1.5rem;
    }
    .subsymp{
      font-size: 0.9rem;
    }
}
@media screen and (max-width:600px) {
  .mailbox{
    padding: 0px;
  }
  .symimg{
    width: 100%;
    margin: 0px;
  }
  .send>.MuiSvgIcon-root{
    font-size: 2rem;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.2rem;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 1.2rem;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 1.2rem;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 1.2rem;
  }
}