.disclaimerBox {
  display: flex;
  margin: 10em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: rgb(186, 221, 152);
  padding: 50px;
}
.container {
  padding: 40px;
  font-size: clamp(1em, 1.5em, 20px);
  font-family: roboto, 'Times New Roman', seuge ui;
}

.container > p {
  font-size: 1.5em;
  font-weight: 540;
}

.disclaimer {
  text-align: start;
  font-size: 3.5em;
  color: rgb(235, 67, 131);
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  background: #1cc238;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 10px;
  border-color: #1cc238;
  font-family: 'Times New Roman', Times, serif New;
  color: #131313;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 35%;
  cursor: pointer;
}
