.disclaimerBox {
  display: flex;
  background-color: var(--color-text);
  margin: auto;
  width: 60%;
}
.container {
  padding: 40px;
  font-weight: 549;
  background-color: aliceblue;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
}

.container > p {
  font-size: 1.5em;
}

.disclaimer {
  text-align: start;
  font-size: 3.5em;
  color: var(--color-orange);
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  background: var(--color-green);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 10px;
  border-color: #1cc23800;
  font-family: 'Times New Roman', Times, serif New;
  color: var(--color-brown);
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 35%;
  cursor: pointer;
}
