.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-lightBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    padding: 32px;
    width: 65%;
    height: 50vh;
    background-color: var(--color-white);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.close-btn>.MuiSvgIcon-root {
    color: var(--color-medorange);
    cursor: pointer;
    font-size: 2.7rem;
}

.close-btn {
    right: 0;
}