.mainHeader {
  background-image: url('../../Assests/landingBG.png');

  width: auto;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mid {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.covidresearch {
  width: 60%;
}

.covid {
  width: 45vw;
}

.headerName {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
}

.name {
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
  color: var(--color-white);
  flex: 1;
}

.moto {
  color: var(--color-greyblue);
  font-size: 25px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .mainHeader {

    height: auto;
    width: auto;
    padding-bottom: 40px;
  }

  .covidresearch {
    display: none;
  }
}
