.mainHeader {
    background-image: url('../../Assests/landingBG.png');
    background-size: cover cover;
    background-repeat: no-repeat;
}


.midPart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.covid {
    width: 80%;
    margin: 15px 100px 0px 130px;
}

.covidresearch {
    flex: 0.6;

}

.name {
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
}

.moto {
    color: var(--color-greyblue);
    font-size: 25px;
}