.searchBar {
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 10px -4px 15px var(--color-medBlue);
  display: flex;
  align-items: center;
  height: 90px;
  margin: auto;
  width: 90%;
  border: 0.5px dotted rgb(15, 15, 15);
}

.category {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  flex: 1;
}

.location {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  flex: 1;
}

.searchIcon {
  padding: 10px;
  color: var(--color-medBlue);
}

.searchIcon > .MuiSvgIcon-root {
  font-size: 40px;
}

.locateIcon > .MuiSvgIcon-root {
  font-size: 40px;
}

.locateIcon {
  padding: 10px;
}

.select {
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  color: var(--color-medBlue);
  font-size: 2.2vw;
  outline: none;
  border: none;
}
