.searchBar {
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 8px -4px 40px var(--color-grey);
    display: flex;
    align-items: center;
    height: 65px;
    margin: 10%;
}

.category {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    flex: 1;
}

.location {
    display: flex;
    align-items: flex-start;
    margin: 0px 10px;
    flex: 1;
}

.searchIcon {
    padding: 10px;
    color: var(--color-medBlue);
}

.locateIcon {
    padding: 10px;
}

.select {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-medBlue);
    font-size: 20px;
    outline: none;
    border: none;
}