.navLinks {
    display: flex;
    flex: 0.6;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: var(--color-white);

}

.navName:hover {
    color: var(--color-medorange);
    border-bottom: solid 2px var(--color-medorange);
    cursor: pointer;
    transform: scaleX(1);
    transition: transform 5ms ease-in-out;

}


.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
    font-size: 28px;
}

.care {
    color: var(--color-medorange);
}

.covi {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color: var(--color-grey);
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.instruct {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--color-grey);
    text-align: center;
    padding: 10px;
}

.googled {
    display: flex;
    justify-content: center;
    align-items: center;
}