.navLinks {
  display: flex;
  flex: 0.6;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: var(--color-white);
  text-decoration: none;
}

.navName:hover {
  color: var(--color-medorange);
  border-bottom: solid 2px var(--color-medorange);
  cursor: pointer;
  transform: scaleX(1);
  transition: transform 5ms ease-in-out;
  text-decoration: none;
}

a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: var(--color-white);
  text-decoration: none;
}
a:hover {
  color: var(--color-medorange);
  text-decoration: none;
}
a:active {
  color: var(--color-medorange);
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  font-family: 'Roboto', sans-serif;
  color: var(--color-white);
  font-size: 36px;
}
