@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500&display=swap');

:root {
  --color-blue: #1a1f59;
  --color-lightBlue: #b7cee4;
  --color-orange: #f78226;
  --color-lightGreen: #8ee085;
  --color-lightestblue: #93a4b5;
  --color-grey: #6d6d6d;
  --color-medBlue: #30475e;
  --color-white: #fdfdfd;
  --color-medorange: #f2a365;
  --color-green: #24b913;
  --color-greyblue: #cecdd4;
  --color-brown: #424141;
  --color-notice: #647993;
  --color-form: #ececec;
  --color-formContent: #617085;
}
