.donorinput {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0.4rem 0.4rem;
  border-radius: 0.2rem;
  border-style: none;
  margin: 0.5rem 0px;
  color: var(--color-grey);
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
}

.donorinput:hover {
  outline: 3px solid var(--color-orange);
}

.Contact {
  width: 100%;
  padding: 40px 0;
}

.checkboxvalue {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.4rem 0.4rem;
  margin: 0.4rem 0px;
  color: var(--color-grey);
  font-size: 1.4rem;
  background-color: var(--color-white);
}

.addFile {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.4rem 0.4rem;
  margin: 0.4rem 0px;
  color: var(--color-grey);
  font-size: 1.4rem;
}

input:required:invalid {
  border: 1px solid red;
  outline: none;
}

input:required:hover {
  opacity: 2;
}
textarea:required:invalid {
  border: 1px solid red;
  outline: none;
}

.personal {
  position: relative;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: #3e516a;
  margin-top: 40px;
  text-align: center;
}

.greyBox {
  max-width: 100%;
  width: 80%;
  margin: auto;
  background: var(--color-form);
  border-radius: 20px;
  box-shadow: 22px 3px 53px -17px rgba(115, 98, 98, 0.87);
  padding: 30px;
  backdrop-filter: blur(4px);
  margin-top: 4%;
}

@media (min-width: 576px) {
  .greyBox {
    max-width: 540px;
    max-height: auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .greyBox {
    max-width: 720px;
    max-height: auto;
    width: 100%;
  }
}

.greyBoxm {
  max-width: 100%;
  width: 80%;
  background: var(--color-form);
  border-radius: 20px;
  box-shadow: 22px 3px 53px -17px rgba(115, 98, 98, 0.87);
  padding: 30px;
  backdrop-filter: blur(4px);
  margin: 10% auto;
}

@media (min-width: 576px) {
  .greyBoxm {
    max-width: 540px;
    max-height: auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .greyBoxm {
    max-width: 720px;
    max-height: auto;
    width: 100%;
  }
}

.formfield {
  color: var(--color-formContent);
  font-weight: bold;
  font-size: 1.12rem;
}

.form__subBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ageBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.common {
  display: block;
  width: 40%;
}

@media (max-width: 600px) {
  .ageBox {
    flex-direction: column;
    align-items: flex-start;
  }

  .common {
    width: 100%;
  }
}

.form__submit {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.tnc {
  color: var(--color-orange);
  font-weight: bold;
  padding: 10px;
}

.agreement {
  color: var(--color-notice);
  font-weight: 500;
}
