.donorinput {
  display: block;
  width: 100%;
  height: 2rem;
  padding: 0.3rem 0.4rem;
  border-radius: 0.2rem;
  border-style: none;
  margin-top: 0.4rem;

  color: var(--color-medorange);
  font-size: 1.4rem;


}

.donorinput:hover {
  border: 3px solid var(--color-orange);
  transition: transform 5ms ease-in-out;
}


.Contact {
  width: 100%;
  padding: 40px 0;
}

.personal {
  margin: 0px 25%;
  position: relative;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: #3e516a;
  margin-top: 40px;
}


.greyBox {
  max-width: 100%;
  width: 80%;
  margin: auto;
  background: var(--color-form);
  border-radius: 20px;
  box-shadow: 22px 3px 53px -17px rgba(115, 98, 98, 0.87);
  padding: 30px;
  backdrop-filter: blur(4px);
  margin-top: 4%;
}

@media(min-width: 576px) {
  .greyBox {
    max-width: 540px;
    max-height: auto;
    width: 100%;
  }
}

@media(min-width: 768px) {
  .greyBox {
    max-width: 720px;
    max-height: auto;
    width: 100%;
  }
}

.greyBoxm {
  max-width: 100%;
  width: 80%;
  background: var(--color-form);
  border-radius: 20px;
  box-shadow: 22px 3px 53px -17px rgba(115, 98, 98, 0.87);
  padding: 30px;
  backdrop-filter: blur(4px);
  margin: 10% auto;
}

@media(min-width: 576px) {
  .greyBoxm {
    max-width: 540px;
    max-height: auto;
  }
}

@media(min-width: 768px) {
  .greyBoxm {
    max-width: 720px;
    max-height: auto;

  }
}

.formfield {
  color: var(--color-formContent);
  font-weight: bold;
  font-size: 1.12rem;
}

.ageBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .ageBox {
    flex-direction: column;
  }
}

.form__subBox {
  margin: 0 2.5rem 1.2rem 2rem;
}


.common {
  display: block;
  width: 40%;
}

.tnc {
  color: var(--color-orange);
  font-weight: bold;
  padding: 10px;
}

.agreement {
  color: var(--color-notice);
  font-weight: 500;
}